* {
    color: white;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 104px 1fr;
}

.layout-body {
    background-color: #0d1117;
    display: flex;
    justify-content: center;
}

.layout-container {
    display: grid;
    grid-template-columns: 280px 700px;
    grid-template-rows: 1fr;
}

.layout-sidebar {}

.layout-content {}